.root {
  border: 1px solid var(--border-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font: var(--body-sm);
  gap: var(--spacing-md);
  padding: 12px 16px;
  width: 100%;
  position: relative;
}

.header {
  align-items: flex-start;
  display: flex;
  gap: var(--spacing-sm);
  inline-size: 100%;

  .icon {
    flex: 0 0 auto;
    margin-block-start: 3px;
  }

  .title {
    font-weight: var(--font-weight-semibold);
  }

  .content {
    color: var(--text-primary);
    display: grid;
    flex: 1 1 auto;
    gap: var(--spacing-2xs);
    min-width: 0;
  }
}

.close {
  color: var(--text-secondary);
  inset-block-start: 1px;
  inset-inline-end: 1px;
  position: absolute;
  z-index: 1;

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      background: var(--background-transparent-active);
    }
  }
}

.action {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--spacing-xs);
  inline-size: 100%;
}

/* Severity */

.severityInfo {
  --alert-border: var(--border-info);
  --alert-color: var(--text-link-strong);
  --alert-bg-filled: var(--background-info-subtle);
}

.severitySuccess {
  --alert-border: var(--border-success);
  --alert-color: var(--text-success-strong);
  --alert-bg-filled: var(--background-success-subtle);
}

.severityWarning {
  --alert-border: var(--border-warning);
  --alert-color: var(--text-warning-strong);
  --alert-bg-filled: var(--background-warning-subtle);
}

.severityError {
  --alert-border: var(--border-error);
  --alert-color: var(--text-error-strong);
  --alert-bg-filled: var(--background-error-subtle);
}

/* Variant */

.variantOutlined {
  background: var(--surface-02);
  border-left: 2px solid var(--alert-border);
  color: var(--alert-color);
}

.variantFilled {
  border: none;
  background: var(--alert-bg-filled);
  color: var(--alert-color);
}
